In [2]:
import glob, os
import pandas as pd
import csv
import dateutil.parser
%matplotlib inline
import matplotlib
import datetime
import calendar
import calendar
import numpy as np
import matplotlib.pyplot as plt
matplotlib.style.use('ggplot')

# Preprocessing

##Read files

In [3]:
data_path = "data/"
allFiles = [file for file in glob.glob(data_path+"*.txt")]

In [4]:
df_list=[pd.read_csv(f) for f in allFiles]
df=pd.concat(df_list)

In [5]:
df.head()

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS
0,A002,R051,02-00-00,LEXINGTON AVE,NQR456,BMT,04/25/2015,00:00:00,REGULAR,5106770,1729635
1,A002,R051,02-00-00,LEXINGTON AVE,NQR456,BMT,04/25/2015,04:00:00,REGULAR,5106810,1729649
2,A002,R051,02-00-00,LEXINGTON AVE,NQR456,BMT,04/25/2015,08:00:00,REGULAR,5106835,1729680
3,A002,R051,02-00-00,LEXINGTON AVE,NQR456,BMT,04/25/2015,12:00:00,REGULAR,5106961,1729784
4,A002,R051,02-00-00,LEXINGTON AVE,NQR456,BMT,04/25/2015,16:00:00,REGULAR,5107250,1729858

In [6]:
times_df =df.copy()
row = len(times_df.index) #counts total rows to be used as index
times_df.index = range(row)

In [7]:
times_df['ID'] = times_df.index

shifted_df = pd.DataFrame()
shifted_df['ID'] = times_df['ID']
shifted_df['SHIFTED_ENTRIES'] = times_df.ENTRIES.shift(-1)
shifted_df.fillna(0)

            ID  SHIFTED_ENTRIES
0            0          5106810
1            1          5106835
2            2          5106961
3            3          5107250
4            4          5107620
5            5          5107793
6            6          5107815
7            7          5107844
8            8          5107912
9            9          5108106
10          10          5108367
11          11          5108492
12          12          5108503
13          13          5108556
14          14          5108735
15          15          5109072
16          16          5110015
17          17          5110238
18          18          5110238
19          19          5110290
20          20          5110433
21          21          5110753
22          22          5111702
23          23          5111954
24          24          5111967
25          25          5112022
26          26          5112208
27          27          5112549
28          28          5113477
29          29          5113755
...        ...              ...
960820  960820             5554
960821  960821             5554
960822  960822             5554
960823  960823             5554
960824  960824             5554
960825  960825             5554
960826  960826             5554
960827  960827             5554
960828  960828             5554
960829  960829             5554
960830  960830             5554
960831  960831             5554
960832  960832             5554
960833  960833             5554
960834  960834             5554
960835  960835             5554
960836  960836             5554
960837  960837             5554
960838  960838             5554
960839  960839             5554
960840  960840             5554
960841  960841             5554
960842  960842             5554
960843  960843             5554
960844  960844             5554
960845  960845             5554
960846  960846             5554
960847  960847             5554
960848  960848             5554
960849  960849                0

[960850 rows x 2 columns]

In [8]:
pd.merge(times_df, shifted_df, on='ID', how='left')

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS,ID,SHIFTED_ENTRIES
0,A002,R051,02-00-00,LEXINGTON AVE,NQR456,BMT,04/25/2015,00:00:00,REGULAR,5106770,1729635,0,5106810
1,A002,R051,02-00-00,LEXINGTON AVE,NQR456,BMT,04/25/2015,04:00:00,REGULAR,5106810,1729649,1,5106835
2,A002,R051,02-00-00,LEXINGTON AVE,NQR456,BMT,04/25/2015,08:00:00,REGULAR,5106835,1729680,2,5106961
3,A002,R051,02-00-00,LEXINGTON AVE,NQR456,BMT,04/25/2015,12:00:00,REGULAR,5106961,1729784,3,5107250
4,A002,R051,02-00-00,LEXINGTON AVE,NQR456,BMT,04/25/2015,16:00:00,REGULAR,5107250,1729858,4,5107620
5,A002,R051,02-00-00,LEXINGTON AVE,NQR456,BMT,04/25/2015,20:00:00,REGULAR,5107620,1729914,5,5107793
6,A002,R051,02-00-00,LEXINGTON AVE,NQR456,BMT,04/26/2015,00:00:00,REGULAR,5107793,1729955,6,5107815
7,A002,R051,02-00-00,LEXINGTON AVE,NQR456,BMT,04/26/2015,04:00:00,REGULAR,5107815,1729964,7,5107844
8,A002,R051,02-00-00,LEXINGTON AVE,NQR456,BMT,04/26/2015,08:00:00,REGULAR,5107844,1729991,8,5107912
9,A002,R051,02-00-00,LEXINGTON AVE,NQR456,BMT,04/26/2015,12:00:00,REGULAR,5107912,1730068,9,5108106
10,A002,R051,02-00-00,LEXINGTON AVE,NQR456,BMT,04/26/2015,16:00:00,REGULAR,5108106,1730135,10,5108367
11,A002,R051,02-00-00,LEXINGTON AVE,NQR456,BMT,04/26/2015,20:00:00,REGULAR,5108367,1730193,11,5108492
12,A002,R051,02-00-00,LEXINGTON AVE,NQR456,BMT,04/27/2015,00:00:00,REGULAR,5108492,1730231,12,5108503
13,A002,R051,02-00-00,LEXINGTON AVE,NQR456,BMT,04/27/2015,04:00:00,REGULAR,5108503,1730233,13,5108556
14,A002,R051,02-00-00,LEXINGTON AVE,NQR456,BMT,04/27/2015,08:00:00,REGULAR,5108556,1730352,14,5108735
15,A002,R051,02-00-00,LEXINGTON AVE,NQR456,BMT,04/27/2015,12:00:00,REGULAR,5108735,1730660,15,5109072
16,A002,R051,02-00-00,LEXINGTON AVE,NQR456,BMT,04/27/2015,16:00:00,REGULAR,5109072,1730750,16,5110015
17,A002,R051,02-00-00,LEXINGTON AVE,NQR456,BMT,04/27/2015,20:00:00,REGULAR,5110015,1730829,17,5110238
18,A002,R051,02-00-00,LEXINGTON AVE,NQR456,BMT,04/28/2015,00:00:00,REGULAR,5110238,1730851,18,5110238
19,A002,R051,02-00-00,LEXINGTON AVE,NQR456,BMT,04/28/2015,04:00:00,REGULAR,5110238,1730851,19,5110290
20,A002,R051,02-00-00,LEXINGTON AVE,NQR456,BMT,04/28/2015,08:00:00,REGULAR,5110290,1730980,20,5110433
21,A002,R051,02-00-00,LEXINGTON AVE,NQR456,BMT,04/28/2015,12:00:00,REGULAR,5110433,1731299,21,5110753
22,A002,R051,02-00-00,LEXINGTON AVE,NQR456,BMT,04/28/2015,16:00:00,REGULAR,5110753,1731356,22,5111702
23,A002,R051,02-00-00,LEXINGTON AVE,NQR456,BMT,04/28/2015,20:00:00,REGULAR,5111702,1731428,23,5111954
24,A002,R051,02-00-00,LEXINGTON AVE,NQR456,BMT,04/29/2015,00:00:00,REGULAR,5111954,1731465,24,5111967
25,A002,R051,02-00-00,LEXINGTON AVE,NQR456,BMT,04/29/2015,04:00:00,REGULAR,5111967,1731468,25,5112022
26,A002,R051,02-00-00,LEXINGTON AVE,NQR456,BMT,04/29/2015,08:00:00,REGULAR,5112022,1731562,26,5112208
27,A002,R051,02-00-00,LEXINGTON AVE,NQR456,BMT,04/29/2015,12:00:00,REGULAR,5112208,1731867,27,5112549
28,A002,R051,02-00-00,LEXINGTON AVE,NQR456,BMT,04/29/2015,16:00:00,REGULAR,5112549,1731932,28,5113477
29,A002,R051,02-00-00,LEXINGTON AVE,NQR456,BMT,04/29/2015,20:00:00,REGULAR,5113477,1732007,29,5113755
...,...,...,...,...,...,...,...,...,...,...,...,...,...
960820,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,05/25/2015,01:00:00,REGULAR,5554,210,960820,5554
960821,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,05/25/2015,05:00:00,REGULAR,5554,210,960821,5554
960822,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,05/25/2015,09:00:00,REGULAR,5554,210,960822,5554
960823,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,05/25/2015,13:00:00,REGULAR,5554,210,960823,5554
960824,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,05/25/2015,17:00:00,REGULAR,5554,210,960824,5554
960825,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,05/25/2015,21:00:00,REGULAR,5554,210,960825,5554
960826,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,05/26/2015,01:00:00,REGULAR,5554,210,960826,5554
960827,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,05/26/2015,05:00:00,REGULAR,5554,210,960827,5554
960828,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,05/26/2015,09:00:00,REGULAR,5554,210,960828,5554
960829,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,05/26/2015,13:00:00,REGULAR,5554,210,960829,5554
960830,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,05/26/2015,17:00:00,REGULAR,5554,210,960830,5554
960831,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,05/26/2015,21:00:00,REGULAR,5554,210,960831,5554
960832,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,05/27/2015,01:00:00,REGULAR,5554,210,960832,5554
960833,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,05/27/2015,05:00:00,REGULAR,5554,210,960833,5554
960834,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,05/27/2015,09:00:00,REGULAR,5554,210,960834,5554
960835,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,05/27/2015,13:00:00,REGULAR,5554,212,960835,5554
960836,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,05/27/2015,17:00:00,REGULAR,5554,212,960836,5554
960837,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,05/27/2015,21:00:00,REGULAR,5554,212,960837,5554
960838,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,05/28/2015,01:00:00,REGULAR,5554,212,960838,5554
960839,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,05/28/2015,05:00:00,REGULAR,5554,212,960839,5554
960840,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,05/28/2015,09:00:00,REGULAR,5554,212,960840,5554
960841,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,05/28/2015,13:00:00,REGULAR,5554,212,960841,5554
960842,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,05/28/2015,17:00:00,REGULAR,5554,212,960842,5554
960843,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,05/28/2015,21:00:00,REGULAR,5554,212,960843,5554
960844,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,05/29/2015,01:00:00,REGULAR,5554,212,960844,5554
960845,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,05/29/2015,05:00:00,REGULAR,5554,212,960845,5554
960846,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,05/29/2015,09:00:00,REGULAR,5554,212,960846,5554
960847,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,05/29/2015,13:00:00,REGULAR,5554,212,960847,5554
960848,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,05/29/2015,17:00:00,REGULAR,5554,212,960848,5554
960849,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,05/29/2015,21:00:00,REGULAR,5554,212,960849,NaN

## Clean columns

In [9]:
#strip column names of whitespace (for exits columns)
df.rename(columns=lambda x: x.strip(),inplace=True)

## Date parsing

In [10]:
#create 2 new columns in df 'date_time' and 'date_parsed'
df['date_time'] = pd.to_datetime(df.DATE + ' ' + df.TIME)
df['date_parsed'] = pd.to_datetime(df.DATE)

##Sort the entries

In [11]:
df.sort(['C/A','UNIT','SCP','STATION','LINENAME','DIVISION','date_time'],inplace =True)

## Get non cummulative count

Since its Already sorted...
lets create a syntetic key by C/A, Unit,SCP,Station

In [12]:
df['key']= tuple(zip(df['C/A'],df['UNIT'],df['SCP'],df['STATION']))

Lets shift the entries,exits and count

In [13]:
df['shifted_entries']=df['ENTRIES'].shift(periods=1) 
df['shifted_exits']=df['EXITS'].shift(periods=1) 
df['shifted_key']=df['key'].shift(periods=1)

Subtract from previous if the key is the same

In [14]:
df['ENTRIESn_hourly'] = np.where(df['shifted_key']==df['key'],df['ENTRIES']-df['shifted_entries'],0)
df['EXITSn_hourly'] = np.where(df['shifted_key']==df['key'],df['EXITS']-df['shifted_exits'],0)

The counter might have resetted to 0....lets just skip those rows

In [15]:
min_bad_value=0
max_bad_value=10000

In [16]:
bad_values=df[(df.ENTRIESn_hourly<min_bad_value) | (df.ENTRIESn_hourly>max_bad_value)]
good_values=df[(df.ENTRIESn_hourly>=min_bad_value) & (df.ENTRIESn_hourly<=max_bad_value)]
print ("There are %s bad values and %s good values"%(len(bad_values),len(good_values)))

There are 5419 bad values and 955431 good values

lets save the results and remove miscellaneous columns

In [17]:
df.drop(['shifted_entries','shifted_exits','shifted_key'],inplace=True,axis=1)
df=good_values

## Filter dates for only month of may

In [18]:
#filters date to May 2015
earliest_may_date=datetime.date(2015,5,1)
latest_may_date=datetime.date(2015,5,30)
may_df=df[(df.date_parsed >= earliest_may_date) & (df.date_parsed <= latest_may_date)]
print ("There were %s entries"%(len(df)))
print ("There are %s entries in month of may. So we lost %s entires"%(len(may_df) , len(df)-len(may_df)))

df=may_df

There were 955431 entries
There are 791432 entries in month of may. So we lost 163999 entires

## Total

In [19]:
df=df.copy()
df['total_traffic'] = df.ENTRIESn_hourly + df.EXITSn_hourly

## Filter weekday and weekend

Moday is 0
Saturday is 5

In [20]:
#filter weekdays only
weekday_date_df=df[df['date_parsed'].dt.weekday < 5]
weekend_date_df=df[df['date_parsed'].dt.weekday >= 5]
#df[df['date_parsed'].dt.weekday < 5].tail(50)

In [21]:
wday_entries=weekday_date_df[['STATION','ENTRIESn_hourly']].groupby(['STATION']).agg({'ENTRIESn_hourly':sum})
wday_entries=wday_entries.reset_index()

wday_entries=wday_entries.sort('ENTRIESn_hourly',ascending=False)
wday_entries.rename(columns={'ENTRIESn_hourly':'entries'}, inplace=True)

wday_entries.head(20)

             STATION  entries
67    34 ST-PENN STA  3745056
72   42 ST-GRD CNTRL  3275331
66   34 ST-HERALD SQ  2580463
113            86 ST  2429077
18    14 ST-UNION SQ  2308018
74    42 ST-TIMES SQ  2112047
73   42 ST-PA BUS TE  1947096
117            96 ST  1727761
231        FULTON ST  1675386
11            125 ST  1671846
91    59 ST-COLUMBUS  1593640
180      CHAMBERS ST  1561201
175         CANAL ST  1512907
52             23 ST  1470364
90             59 ST  1379966
283          MAIN ST  1309433
78     47-50 ST-ROCK  1276318
104            72 ST  1098420
83             50 ST  1072651
372          WALL ST  1063626

In [22]:
weekend_entries=weekend_date_df[['STATION','ENTRIESn_hourly']].groupby(['STATION']).agg({'ENTRIESn_hourly':sum})
weekend_entries=weekend_entries.reset_index()

weekend_entries=weekend_entries.sort('ENTRIESn_hourly',ascending=False)
weekend_entries.rename(columns={'ENTRIESn_hourly':'entries'}, inplace=True)

weekend_entries.head(20)

             STATION  entries
67    34 ST-PENN STA   711723
18    14 ST-UNION SQ   591556
66   34 ST-HERALD SQ   559391
113            86 ST   549964
74    42 ST-TIMES SQ   549151
73   42 ST-PA BUS TE   507479
72   42 ST-GRD CNTRL   468558
11            125 ST   417512
175         CANAL ST   388155
91    59 ST-COLUMBUS   384631
117            96 ST   368651
104            72 ST   310703
90             59 ST   298458
340    ROOSEVELT AVE   279003
369   W 4 ST-WASH SQ   271507
283          MAIN ST   269409
231        FULTON ST   252242
52             23 ST   250897
83             50 ST   239725
109            8 AVE   234971

In [23]:
wday_exits=weekday_date_df[['STATION','EXITSn_hourly']].groupby(['STATION']).agg({'EXITSn_hourly':sum})
wday_exits=wday_exits.reset_index()

wday_exits=wday_exits.sort('EXITSn_hourly',ascending=False)
wday_exits.rename(columns={'EXITSn_hourly':'exits'}, inplace=True)

wday_exits.head(20)

             STATION    exits
67    34 ST-PENN STA  3194079
72   42 ST-GRD CNTRL  3031273
66   34 ST-HERALD SQ  2317637
18    14 ST-UNION SQ  2047197
113            86 ST  1870693
74    42 ST-TIMES SQ  1864992
73   42 ST-PA BUS TE  1478327
231        FULTON ST  1442471
78     47-50 ST-ROCK  1343816
11            125 ST  1330222
91    59 ST-COLUMBUS  1258161
175         CANAL ST  1197164
90             59 ST  1138544
52             23 ST  1133856
117            96 ST  1093543
283          MAIN ST  1065810
320         PATH WTC  1060224
278  LEXINGTON-53 ST   984249
180      CHAMBERS ST   937167
372          WALL ST   936999

In [24]:
weekend_exits=weekend_date_df[['STATION','EXITSn_hourly']].groupby(['STATION']).agg({'EXITSn_hourly':sum})
weekend_exits=weekend_exits.reset_index()

weekend_exits=weekend_exits.sort('EXITSn_hourly',ascending=False)
weekend_exits.rename(columns={'EXITSn_hourly':'exits'}, inplace=True)

weekend_exits.head(20)

             STATION   exits
67    34 ST-PENN STA  649478
18    14 ST-UNION SQ  541195
66   34 ST-HERALD SQ  499624
74    42 ST-TIMES SQ  490742
113            86 ST  455201
72   42 ST-GRD CNTRL  445326
73   42 ST-PA BUS TE  415759
11            125 ST  372082
175         CANAL ST  317872
91    59 ST-COLUMBUS  294297
117            96 ST  272633
369   W 4 ST-WASH SQ  260755
283          MAIN ST  252186
90             59 ST  242549
104            72 ST  241553
340    ROOSEVELT AVE  240118
133  BARCLAYS CENTER  220479
231        FULTON ST  210592
109            8 AVE  203007
19            145 ST  196412

In [25]:
#TOTALS FIRST
#get total entries AND exits for the month per station, then get average per day

#<INSERT CODE HERE>

In [26]:
weekend_entries_exits=weekend_date_df[['STATION','ENTRIESn_hourly','EXITSn_hourly']].groupby(['STATION']).agg({'ENTRIESn_hourly':sum,'EXITSn_hourly':sum})
weekend_entries_exits=weekend_entries_exits.reset_index()

weekend_entries_exits=weekend_entries_exits.sort('ENTRIESn_hourly',ascending=False)
weekend_entries_exits.rename(columns={'ENTRIESn_hourly':'entries', 'EXITSn_hourly':'exits'}, inplace=True)

top_stations=weekend_entries_exits.head(10)
top_stations=top_stations.reset_index(drop=True)
top_stations

           STATION  entries   exits
0   34 ST-PENN STA   711723  649478
1   14 ST-UNION SQ   591556  541195
2  34 ST-HERALD SQ   559391  499624
3            86 ST   549964  455201
4   42 ST-TIMES SQ   549151  490742
5  42 ST-PA BUS TE   507479  415759
6  42 ST-GRD CNTRL   468558  445326
7           125 ST   417512  372082
8         CANAL ST   388155  317872
9   59 ST-COLUMBUS   384631  294297

In [27]:
top_station_names=top_stations['STATION'].tolist()

In [28]:
top_station_names

['34 ST-PENN STA',
 '14 ST-UNION SQ',
 '34 ST-HERALD SQ',
 '86 ST',
 '42 ST-TIMES SQ',
 '42 ST-PA BUS TE',
 '42 ST-GRD CNTRL',
 '125 ST',
 'CANAL ST',
 '59 ST-COLUMBUS']

In [29]:
top_stations.index

Int64Index([0, 1, 2, 3, 4, 5, 6, 7, 8, 9], dtype='int64')

In [30]:
type(l)

NameError: name 'l' is not defined

In [ ]:
top_stations['STATION']

In [ ]:
top_stations.index.values

In [ ]:
fig=top_stations.plot(kind='bar',stacked=True);
fig.set_title('Top NY stations for the May on  Weekdays')
plt.xticks(top_stations.index.values,top_stations['STATION'])

# Top in the hours

In [ ]:
top_station_names

In [ ]:
weekday_date_df.head()

In [ ]:
top_stations

In [ ]:
weekday_date_df

In [ ]:
l=weekday_date_df.TIME.unique().tolist()
sorted(l,reverse=True)

In [ ]:
valid_time_ranges=['00:00:00', '04:00:00', '08:00:00', '12:00:00', '16:00:00', '20:00:00']

avg_wkday_entries= weekday_date_df[['STATION','DATE','TIME','ENTRIESn_hourly']].groupby(['STATION','DATE','TIME']).agg({'ENTRIESn_hourly':np.sum})
avg_wkday_entries=avg_wkday_entries.reset_index()

avg_wkday_entries = avg_wkday_entries[avg_wkday_entries['TIME'].isin(valid_time_ranges)]

avg_wkday_entries= avg_wkday_entries[['STATION','TIME','ENTRIESn_hourly']].groupby(['STATION','TIME']).agg({'ENTRIESn_hourly':np.median})
avg_wkday_entries=avg_wkday_entries.reset_index()

avg_wkday_entries = avg_wkday_entries [avg_wkday_entries['STATION'].isin(top_station_names)]

avg_wkday_entries.rename(columns={'ENTRIESn_hourly':'entries'}, inplace=True)

#wday_entries=wday_entries.sort('ENTRIESn_hourly',ascending=False)
#wday_entries.rename(columns={'ENTRIESn_hourly':'entries'}, inplace=True)
avg_wkday_entries_pivot=avg_wkday_entries.pivot(index='TIME', columns='STATION', values='entries')
avg_wkday_entries_pivot.head()

In [ ]:
avg_wkday_entries_pivot.plot()

plt.legend(loc='center left', bbox_to_anchor=(1, 0.5))
plt.ylabel('Entries')
plt.title('Median Station traffic over hours')

In [ ]:
#TOTALS FIRST
#plot bar graph of average count per day for May 2015, display top 10(?) busiest stations

#<INSERT CODE HERE>

In [ ]:
#BREAKDOWN BY TIME FRAME
#get total entries AND exits for the month per station grouped by timeframes "8am to 12nn", "12nn to 4pm", "4pm to 8pm"
#get average per day

#<INSERT CODE HERE>

In [ ]:
#BREAKDOWN BY TIME FRAME
#plot line graph of average count per day for May 2015, each line in graph representing 1 station

#<INSERT CODE HERE>